extends layout

block content
  .span3
    .well.noradius.menuit
      ul.nav.nav-list
        li
          a.whiteit(href='/panel/new') 
            i.icon-plus.whiteit
            | New
        li
          a.whiteit(href='/panel/list') 
            i.icon-reorder.whiteit
            |List

  .span8
    .well.noradius
      