extends layout

block content
  .span3
    .well.noradius.menuit
      ul.nav.nav-list
        li
          a.whiteit(href='/panel/new') 
            i.icon-plus.whiteit
            | New
        li
          a.whiteit(href='/panel/list') 
            i.icon-reorder.whiteit
            |List
        li
          a.whiteit(href='/logout') 
            i.icon-signout.whiteit
            |Logout

  .span8
    .well.noradius
      form.form-horizontal#write(method="post")
        .control-group
            label.control-label(for='inputEmail') Title
            .controls
              input#inputEmail(type='text', placeholder="Yeah, i'm a title!", name="title")
          .control-group
            label.control-label(for='inputPassword') Content
            .controls
              textarea(placeholder="Lorem ipsum...", name="content")
          .control-group
            label.control-label(for='inputPassword') Markup
            .controls
              select(name="ext")
                option(value="txt") Plain text
                option(value="md") Markdown
          .control-group
            .controls
              input(type="hidden", name="_csrf", value=_csrf)
              button.btn(type='submit', style="margin-right: 5px", onclick="document.getElementById('write').action = '/save'" ) Save 
              button.btn(type='submit', onclick="document.getElementById('write').action = '/download'") Download

  