extends layout

block content
  .span3
    .well.noradius.menuit
      ul.nav.nav-list
        li
          a.whiteit(href='/panel/new') 
            i.icon-plus.whiteit
            | New
        li
          a.whiteit(href='/panel/list') 
            i.icon-reorder.whiteit
            |List

  .span8
    .well.noradius
      form.form-horizontal
        .control-group
            label.control-label(for='inputEmail') Title
            .controls
              input#inputEmail(type='text', placeholder="Yeah, i'm a title!")
          .control-group
            label.control-label(for='inputPassword') Content
            .controls
              textarea(placeholder="Lorem ipsum...")
          .control-group
            .controls
              button.btn(type='submit') Save

  