extends layout

block content
  form(method="post", action="/download", id="write")
    div(style="text-align: center")
      label Title 
      input(type="text", name="title")
      br
      textarea(name="content")
      br
      div#controls
        label Plaintext
        input(type="radio", name="ext", value="txt")
        br
        label Markdown (it will be converted to html)
        input(type="radio", name="ext", value="md")
        br

      input(type="hidden", name="_csrf", value=_csrf)
      input(type="submit", value="Download", onclick="document.getElementById('write').action = '/download'")
      br
      input(type="submit", value="Save", onclick="document.getElementById('write').action = '/save'")